.first-sec{
    background-color: #0058530D;
}
.sec-inner{
    background-image: url(../../../../images/FirstSecImages/Bgi.png);
    background-size: cover;
    background-position: center;
}
.sec-bottom-c-card , 
.sec-bottom-s-card , 
.sec-bottom-l-card , 
.sec-bottom-h-card{
    width: 250px;
    height: 250px;
    background-color: #fff;
    border-radius: 15px;
    cursor: pointer;
}
.sec-bottom-c-card:hover{
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
    transition: 0.6s ease;
}

.sec-bottom-s-card:hover{
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
    transition: 0.6s ease;
}

.sec-bottom-l-card:hover{
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
    transition: 0.6s ease;
}


.sec-bottom-h-card:hover{
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
    transition: 0.6s ease;
}
